* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

html {
    font-size: 62.5%;
}

.main {
    width: 95%;
    padding: 5px;
    margin: auto;
}

.title {
    text-align: center;
    font-size: 3rem;
    padding: .8rem 0 .4rem;
}

.gallery {
    width: 100%;
    margin: auto;
    padding: 1rem 0 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 160px;
    grid-template-areas: 
          "img1   img1   img2    img3"
          "img1   img1   img4    img4"
          "img6   img7   img5    img5"
          "img8   img8   img5    img5"
          "img9   img9   img10   img11"
          "img9   img9   img12   img13"
          "img15  img15  img16   img16"
          "img15  img15  img16   img16"
          "img14  img14  img14   img14"
          "img14  img14  img14   img14"
          "img14  img14  img14   img14"
          "img17  img17  img18   img18"
          "img17  img17  img18   img18";
    gap: 0.8rem;
}

.gallery-image{
    width: 100%;
    height: 100%;
}

.picture-g1 {
    grid-area: img1;
}

.picture-g2 {
    grid-area: img2;
}

.picture-g3 {
    grid-area: img3;
}

.picture-g4 {
    grid-area: img4;
}

.picture-g5 {
    grid-area: img5;
}

.picture-g6 {
    grid-area: img6;
}

.picture-g7 {
    grid-area: img7;
}

.picture-g8 {
    grid-area: img8;
}

.picture-g9 {
    grid-area: img9;
}

.picture-g10 {
    grid-area: img10;
}

.picture-g11 {
    grid-area: img13;
}

.picture-g12 {
    grid-area: img11;
}

.picture-g13 {
    grid-area: img12;
}

.picture-g14 {
    grid-area: img14;
}

.picture-g15 {
    grid-area: img15;
}

.picture-g16 {
    grid-area: img16;
}

.picture-g17 {
    grid-area: img17;
}

.picture-g18 {
    grid-area: img18;
}

@media(max-width:768px){
    .gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "img1 img1"
    "img1 img1"
    "img2 img3"
    "img4 img4"
    "img4 img4"
    "img5 img6"
    "img7 img7"
    "img7 img7"
    "img7 img7"
    "img8 img8"
    "img8 img8"
    "img9 img10"
    "img13 img13"
    "img13 img13"
    "img15 img16"
    "img14 img14"
    "img14 img14"
    "img11 img12"
    "img17 img17"
    "img18 img18"
    "img18 img18"; 
    gap: 0.8rem;
    }

}